<section class="flex gap-4 py-4">
  <p-card class="w-[50%]" header="Form in English">
    <form
      class="flex flex-col gap-2 mt-4"
      (validate)="submitAction()"
      novalidate
    >
      <div class="w-full inline-flex flex-col gap-2">
        <p-floatlabel class="w-full" variant="on">
          <p-autoComplete
            name="test1"
            [(ngModel)]="test1"
            [suggestions]="results"
            (completeMethod)="search($event.query)"
            required
            validation
          ></p-autoComplete>
          <label for="test1">Test 1</label>
        </p-floatlabel>
        <small>Required validation field.</small>
      </div>

      <div class="w-full inline-flex flex-col gap-2">
        <p-floatlabel class="w-full" variant="on">
          <p-autoComplete
            name="test2"
            [(ngModel)]="test2"
            [suggestions]="results"
            (completeMethod)="search($event.query)"
            [forceSelection]="true"
            required
            validation
          ></p-autoComplete>
          <label for="test2">Test 2</label>
        </p-floatlabel>
        <small>Required validation field.</small>
      </div>

      <footer class="w-full" [style.textAlign]="'right'">
        <p-button type="submit" severity="success" label="Validate"></p-button>
      </footer>
    </form>
  </p-card>
</section>
