<section class="flex flex-wrap gap-4">
  <button pButton severity="primary" (click)="openDialogWithCustomIcon()">
    Custom icon
  </button>

  <button pButton severity="primary" (click)="openDialogWithCustomHeader()">
    Custom header
  </button>

  <button pButton severity="primary" (click)="openDialogWithCustomMessage()">
    Custom message
  </button>

  <button pButton severity="primary" (click)="openDialogWithCustomButtons()">
    Custom buttons
  </button>
</section>

<div class="my-4">
  <hr />
</div>

<section class="flex flex-wrap gap-4">
  <button pButton severity="danger" (click)="openDialogWithError()">
    Dialog with error
  </button>
</section>
