<p-confirmdialog />

<p-button
  (click)="openDialog()"
  styleClass="ui-button-success"
  label="Default everything"
></p-button>
<hr />
<p-button
  (click)="openFailedDialog()"
  styleClass="ui-button-danger"
  label="Show error"
></p-button>
<hr />
<p-button
  (click)="openSpanishDialog()"
  styleClass="ui-button-secondary"
  label="En español"
></p-button>
<hr />
<p-button
  (click)="openCustomMessagesDialog()"
  styleClass="ui-button-secondary"
  label="Custom"
></p-button>
<hr />
