header {
  h1 {
    font-size: 2em;
    line-height: 2em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  nav {
    margin: 10px 0 20px;

    ul {
      overflow: auto;
      white-space: nowrap;

      li {
        display: inline-block;

        & + li {
          margin-left: 10px;
        }
      }
    }
  }
}
