<section class="flex gap-4 py-4">
  <p-card class="w-[50%]" header="Formulario en Español">
    <form
      class="flex flex-col gap-2 mt-4"
      (validate)="submitAction()"
      validation-es
      novalidate
    >
      <div class="w-full inline-flex flex-col gap-2">
        <p-floatlabel class="w-full" variant="on">
          <p-datepicker
            name="test1es"
            [(ngModel)]="test1es"
            [showIcon]="true"
            [showClear]="true"
            [readonlyInput]="true"
            required
            validation
            class="w-full"
            inputStyleClass="w-full"
          ></p-datepicker>
          <label for="test1es">Prueba 1</label>
      </p-floatlabel>
        <small>Validación de campo requerido.</small>
      </div>

      <div class="w-full inline-flex flex-col gap-2">
        <label for="test2es">Prueba 2</label>
        <p-datepicker
          name="test2es"
          [(ngModel)]="test2es"
          [showIcon]="true"
          [showClear]="true"
          [readonlyInput]="true"
          [inline]="true"
          required
          validation
          class="w-full"
          inputStyleClass="w-full"
        ></p-datepicker>
        <small>Validación de campo requerido tipo <i>inline</i>.</small>
      </div>

      <footer class="w-full" [style.textAlign]="'right'">
        <p-button type="submit" severity="success" label="Validar"></p-button>
      </footer>
    </form>
  </p-card>

  <p-card class="w-[50%]" header="Form in English">
    <form
      class="flex flex-col gap-2 mt-4"
      (validate)="submitAction()"
      novalidate
    >
      <div class="w-full inline-flex flex-col gap-2">
        <p-floatlabel class="w-full" variant="on">
          <p-datepicker
            name="test1"
            [(ngModel)]="test1"
            [showIcon]="true"
            [showClear]="true"
            [readonlyInput]="true"
            required
            validation
            class="w-full"
            inputStyleClass="w-full"
          ></p-datepicker>
          <label for="test1">Test 1</label>
        </p-floatlabel>
        <small>Required validation field.</small>
      </div>

      <footer class="w-full" [style.textAlign]="'right'">
        <p-button type="submit" severity="success" label="Validar"></p-button>
      </footer>
    </form>
  </p-card>
</section>
