/* You can add global styles to this file, and also import other style files */
@use "./app/core/header";

@use "primeicons/primeicons.css";

@use "tailwindcss";

@use "./app/core/primeng-helper";
@use "../../primeng-helper/src/scss/von-form-validation";

@plugin 'tailwindcss-primeui';
@layer tailwind, primeng;

html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;

  body {
    font-size: 14px;
    line-height: 16px;
    height: calc(100% - 80px);
    margin: 40px 0;

    main {
      border: 5px solid #fff;
      border-radius: 4px;
      box-shadow: 0 0 5px 1px #c4c4c4;
      height: 100%;
      margin: 0 auto;
      max-width: 1024px;
      overflow: auto;
      padding: 20px;
    }
  }
}
