/* You can add global styles to this file, and also import other style files */
@use "./app/core/reset";
@use "./app/core/header";

html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;

  body {
    font-size: 14px;
    line-height: 16px;
    height: calc(100% - 80px);
    margin: 40px 0;

    main {
      border: 5px solid #fff;
      border-radius: 4px;
      box-shadow: 0 0 5px 1px #c4c4c4;
      margin: 0 auto;
      padding: 20px;
      height: calc(100% - 60px);
      max-width: 1024px;
      overflow: auto;
    }
  }
}
