$form-required: #f00 !default;
$form-error: #f00 !default;
$form-error-shadow: #f00 !default;

@mixin field-error-style {
  &,
  &:hover {
    border-color: $form-error !important;
  }

  &:focus {
    border-color: $form-error !important;
    box-shadow: 0 0 5px 0px $form-error-shadow !important;
    outline: 0 none;
  }
}

.field__label {
  display: flex;

  &::after {
    content: ":";
  }

  &--required {
    &::before {
      content: "*";
      color: $form-required;
      margin-right: 5px;
    }
  }
}

.field__error-message {
  display: flex;
  color: $form-error;
  margin: 5px 0 0;
}

.field__input,
.field__textarea {
  &.field__error {
    @include field-error-style;
  }
}

.field__datepicker {
  &.field__error {
    .p-inputtext,
    .p-datepicker-dropdown,
    .p-datepicker-panel-inline {
      @include field-error-style;
    }
  }
}

.field__select {
  &.field__error {
    @include field-error-style;
  }
}

.field__autocomplete,
.field__input-number,
.field__password {
  &.field__error {
    .p-inputtext {
      @include field-error-style;
    }

    .p-datepicker-panel-inline {
      @include field-error-style;
    }
  }
}

.field__checkbox {
  &.field__error {
    .p-checkbox-box {
      @include field-error-style;
    }
  }
}

.field__radiobutton {
  &.field__error {
    .p-radiobutton-box {
      @include field-error-style;
    }
  }
}

.field__toggle {
  &.field__error {
    border-width: 1px;
    @include field-error-style;
  }
}
